xsd/TodoResource.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="todoResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="todo_id"/>
        <xs:element type="xs:string" name="todo_title"/>
        <xs:element type="xs:string" name="finished"/>
        <xs:element type="xs:string" name="created_at"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>